/*h1,h5,h3{
	color: red;font-size: 20;
}
body{
	color: green;font-size: 40;
}*/
/*li strong{
	color: red;
}
strong{
	color: green;
}*/ 
/*#pid a{
	color:  orange;
}
#divid p{
	color: red;
}*/
body{
	background-color:gray; 
}